<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Meteo GPS
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>  

    <div style="position:relative; bottom:15px" id="today">
      Attualmente ti trovi qui: {{place}}!<br>
      Meteo: {{temperature}}, {{type}}<br>
      Situazione: {{des}}<br>
      Umidità: {{humidity}}%<br>
      <img src={{icon}} style="width: 100px;"/>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <div *ngFor="let temp of temperatureT">
              {{temp}}
            </div>
          </ion-col>
          <ion-col size="2">
            <div *ngFor="let type of typeT">
              {{type}}
            </div>
          </ion-col>
          <ion-col size="3">
            <div *ngFor="let des of desT">
              {{des}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div>
      Domani: <br>
      Meteo: {{temperatureF}}, {{typeF}}<br>
      Situazione: {{desF}}<br>
      <img src="{{iconF}}" style="width: 100px;"/>
    </div>
  
    <p>Settimana entrante:</p>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <div *ngFor="let temp of temperatureW">
            {{temp}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div *ngFor="let type of typeW">
            {{type}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div *ngFor="let des of desW">
            {{des}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>
</ion-app>
